* {
    position: relative;
    align-content: center;
    text-align: center;
}

p {
    font-family: 'VT323', monospace;
    font-size: 26px;
}

span {
    font-family: 'VT323', monospace;
    font-size: 32px;
}

.blinking{
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color:  #000; }
    50%{    color: transparent; }
    99%{    color: #000;  }
    100%{   color: #000;    }
}

#header-img {
    height: 500px;
    width: 100%;
}

#start-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px 50px 0px;
}

#numberofguess {
    right:120px;
}

#lettersalreadyguess {
    right:100px;
}

#wordsize {
    width: 700px;
    height: 200px;
}

#word {
    display: inline;
}